$abt-clr: #515151;
$light-white: #ECECEC;
$nav_bg: rgba(227,15,15,.8);
$clr-red: #E30F0F;
$clr-grey: #5F5F5F;
$clr-grey1:rgba(255,255,255,0.3);
$clr-black: rgba(15, 15, 15, 1);
$clr-red1:rgba(251, 0, 75, 1);
$light-grey:rgba(199, 199, 199, 1);
$clr-grey2: #E7E7E7;












