// ==================== STYLE FOR HOME PAGE =======================//
.about-section{
    background-color: $light-white;
    font-family: 'Varela', sans-serif !important;
    .about-Us{
        letter-spacing: 5px;
        font-weight: 400;
        @include media-min-xl{
            font-size: 6rem;
        }
    }
    .about-Us1{
        color: $abt-clr !important;
        @include media-min-lg{
            font-size: 70px;
            font-weight: 400;
            line-height: 91px;
        }
        
    }
    .para{
        font-size: 19px;
        line-height: 39px;
        font-weight: 400;
        text-align: justify;
        color: $abt-clr !important;
    }
    .about-part2{
        @include media-min-lg{
        width: 682px;
        line-height: 2.5rem;
        position: relative;
        right: 15%;
        @include media-min-xl{
            width: 800px;
    }
}
}
    .about-part1{
        @include media-min-lg{
        position: absolute;
        top: 105%;
        left: 47%;
    }
    }
}
// =================== STYLE FOR SERVICE SECTION ====================//
.service-section{
    background-image: url("/public/images/section-3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Varela', sans-serif !important;
    .circle{
        border-radius: 50%;
        background-color: $clr-red;
    }
}
// ================== STYLE FOR PRICING SECTION ====================//
.pricing-section{
    background-image: url("/public/images/section\ 4.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Varela', sans-serif !important;
    .bg-w{
        background-color: rgba($color: #fff, $alpha: .9);
    }
    .pimg{
        border-radius: 50%;
        height: 100px;
        width: 100px;
    }
    .pricehead{
        @include media-min-lg{
            font-size: 30px;
            font-weight: 400;
        }
       
       }
    .line,.br-bbt{
        border-bottom: 1px dotted $clr-grey!important;
    }
    .pcontent{
        font-size: 22px;
        font-weight: 400;
        color: $clr-grey;    
    }
    .br-bbt{
        @include media-min-md{
            width: 83%;
        }
    }
}
// ======================= STYLE FOR TESTIMONIALS SECTION =================//
.testimonial-section{
    background-image: url("/public/images/section\ 5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    @include media-min-lg{
        position: relative;
    }
    .test-flex{
        .test-bg{
            background-color: $clr-grey1 !important;
            .test-image{
                @include media-min-lg-x{
                    position: absolute;
                    bottom: 17px;
                    left: 27%;
                }
                .test-img{
                    height: 9.7rem;
                    width: 10rem;
                    border-radius: 50%;
                
                }
            }
            .test-image1{
                @include media-min-lg-x{
                    position: absolute;
                    bottom: 17px;
                    left: 65%;
                }
            }
        }
    }
    
}
// ====================== STYLE FOR CONTACTUS SECTION ====================//
.contact-section{
    background-image: url(/public/images/section\ 6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Varela', sans-serif;
    @include media-min-lg{
        // height: 95vh;
    }
    .text-msg{
        input{
            padding-bottom: 10rem;
           
        }
    }
    .contactus{
        @include media-min-lg{
            color:  #575757 !important;
            font-size: 30px;
            font-weight: 400;
            line-height: 46px;
        }
     }
     .con-text{
        color:  #454343 !important;
     }
    .icon-br{
        background-color: red !important;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    .br-btm{
        border-bottom: 2px dotted #454343;
    }
    .opt{
        color: #575757 !important;
    }
}


